<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CÔNG TY TNHH TƯ VẤN - THIẾT KẾ & DỊCH VỤ KỸ THUẬT CDEN</title>
    <meta name="description" content="CDEN tư vấn, thiết kế, dịch vụ kỹ thuật">
    <meta name="keywords" content="thi công nhà ở, công trình công cộng, thi công điện nước, báo cháy, chống sét">
    <meta name="author" content="cden.com">  
	
	<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/animate.min.css">
	
	<link rel="stylesheet" type="text/css" href="css/fontawesome.css">
	<link rel="stylesheet" type="text/css" href="css/brands.css">
	<link rel="stylesheet" type="text/css" href="css/solid.css">


	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/cdenstyle.css"/>
	
    <script src="js/vendor/modernizr.min.js"></script>

</head>

<body data-spy="scroll" data-target="#navbar-example">

	<!-- LOAD PAGE -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	<!-- BACK TO TOP SECTION -->
	<a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<!-- HEADER -->
    <div class="header header-1">
    	<!-- MIDDLE BAR -->
		<div class="middlebar d-none d-sm-block">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-3 col-md-3">
						<div class="logo">
							<img src="images/logo.png" alt="" />
						</div>
					</div>
					<div class="col-9 col-md-9">
						<div class="contact-info">
							<!-- INFO 1 -->
							<div class="rs-icon-1">
								<div class="icon">
									<div class="fas fa-envelope"></div>
								</div>
								<div class="body-content">
									<div class="heading">Email :</div>
									vannguyentve@gmail.com
								</div>
							</div>
							<!-- INFO 1 -->
							<div class="rs-icon-1">
								<div class="icon">
									<div class="fas fa-phone-volume"></div>
								</div>
								<div class="body-content">
									<div class="heading">Điện thoại :</div>
									+84 935 624 533
								</div>
							</div>
							<!-- INFO 2 -->
							<div class="rs-icon-1">
								<div class="icon">
									<div class="fas fa-clock"></div>
								</div>
								<div class="body-content">
									<div class="heading">Thời gian làm việc :</div>
									Thứ2 - CNhật 08:00 - 17:00
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- NAVBAR SECTION -->
		<div class="navbar-main">
			<div class="container">
			    <nav id="navbar-example" class="navbar navbar-expand-lg navbar-bg">
			        
			        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			            <span class="navbar-toggler-icon"></span>
			        </button>
			        <div class="collapse navbar-collapse" id="navbarNavDropdown">
			            <ul class="navbar-nav">
			                <li class="nav-item">
			                    <a class="nav-link" href="index.html">
						          Trang chủ
						        </a>
								<!--
			                    <div class="dropdown-menu">
			                    	<a class="dropdown-item" href="index.html">Homepage 1</a>
	          						<a class="dropdown-item" href="index-2.html">Homepage 2</a>
	          						<a class="dropdown-item" href="index-3.html">Homepage 3</a>
							    </div>
								-->
			                </li>

			                <li class="nav-item active">
			                    <a class="nav-link" href="about.html">Giới thiệu</a>
			                </li>

			                <li class="nav-item">
			                    <a class="nav-link" href="services.html">Dịch vụ</a>
			                </li>

			                <li class="nav-item">
			                    <a class="nav-link" href="projects.html">
						          Dự án  
						        </a>
								<!--
			                    <div class="dropdown-menu">
			                    	<a class="dropdown-item" href="projects.html">Projects Grid</a>
			                    	<a class="dropdown-item" href="projects-single.html">Projects Single</a>
							    </div>
								-->
			                </li>
							
			                <li class="nav-item">
			                    <a class="nav-link" href="news.html">
						          Tin tức  
						        </a>
			                    
			                </li>
							
			                <li class="nav-item">
			                    <a class="nav-link" href="contact.html">Liên hệ</a>
			                </li>

			            </ul>
			        </div>
			        <a href="#" class="btn btn-primary btn-navbar d-none d-sm-block">Nhận báo giá</a>
			    </nav> <!-- Navbar -->
			    
			</div>
		</div>

    </div>

	<!-- BANNER -->
    <div class="section banner-page" data-background="images/dummy-img-1920x1280.jpg">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="col-12 col-md-12">
					<div class="d-flex bd-highlight mb-2">
						<div class="title-page">Giới thiệu</div>
					</div>
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb ">
					    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
					  </ol>
					</nav>
				</div>
			</div>
			
		</div>
	</div>	

   <!-- ABOUT -->
	<div class="section">
		<div class="content-wrap">
			<div class="container">

				<div class="row">

					<div class="col-sm-8 col-md-8 pright">
						<div class="img-subsco">
							<div class="icon-play-yt">
								<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="popup-youtube"><i class="fas fa-play-circle"></i></a>
							</div>
							<img src="images/dummy-img-1200x800.jpg" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<h4 class="section-heading text-black no-after mb-3">
							<span class="text-primary">Chúng tôi </span> là
						</h4>
						<h3 class="text-black">
							Tạo ra lối sống đô thị chất lượng, xây dựng cộng đồng vững mạnh hơn
						</h3>
						<p>Công ty TNHH tư vấn - thiết kế và dịch vụ kỹ thuật CDEN được thành lập bởi các kỹ sư giàu kinh nghiệm trong các lĩnh vực thiết kế, cung cấp thiết bị, thi công và bảo trì các hệ thống điều hoà thông gió, cấp thoát và xử lý nước, điện, điện điều khiển ….<br>
							CDEN là công ty chuyên nghiệp trong lĩnh vực thiết kế và thi công cơ điện đã khẳng định được vị thế trên thị trường với bề dày kinh nghiệm trải qua các dự án đã tham gia thi công.</p>
						<a href="#" class="btn btn-secondary">Các dự án của chúng tôi</a>
						<div class="spacer-30"></div>
					</div>
					
				</div>

				
			</div>
		</div>
	</div>

	<!-- SERVICES -->
	<div class="section">
		<div class="content-wrap pt-0">
			<div class="container">

				<div class="row">

					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-building"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Thi công xây dựng công trình: công nghiệp và dân dụng</h4>
								<p class="p-class">1. Xây dựng cầu đường</p>
								<p class="p-class">2. Công trình công nghiệp</p>
								<p class="p-class">3. Công trình dân dụng</p>
								<!--<a href="#">Đọc thêm</a>-->
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-comments"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Hoạt động tư vấn - thiết kế & dịch vụ</h4>
								<p class="p-class">1. Tư vấn thiết kế - tư vấn Giám sát công trình</p>
								<p class="p-class">2. Thiết kế xây dựng công trình công nghiệp và dân dụng</p>
								<p class="p-class">3. Thiết kế M&E</p>
								<p class="p-class">4. Dịch vụ bảo dưỡng bảo trì</p>
								<!--<a href="#">Đọc thêm</a>-->
							</div>
						</div>
					</div>
					<!--
					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-bolt"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Chống sét</h4>
								<p>Thi công hệ thống chống sét , hệ thống chống sét lan truyền, hệ thống tiếp địa, ....</p>
								<a href="#">Đọc thêm</a>
							</div>
						</div>
					</div>
					-->
					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-city"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Thi công hệ thống M&E</h4>
								<p class="p-class">1. Hệ thống điều hòa không khí và thông gió<br>
								2. Hệ thống Cấp thoát nước và thiết bị vệ sinh<br>
								3. Hệ thống điện:<br>
								<p class="p-class p-class-indent"><i>a. Hệ thống điện chiếu sáng</i></p>
								<p class="p-class p-class-indent"><i>b. Hệ thống điện động lực</i></p>
								<span id="dots">...</span><span id="more">
								<p class="p-class p-class-indent"><i>c. Hệ thống mạng máy tính - công nghệ thông tin</i></p>
								<p class="p-class p-class-indent"><i>d. Hệ thống mạng điện thoại</i></p>
								<p class="p-class p-class-indent"><i>e. Hệ thống camera an ninh</i></p>
								<p class="p-class p-class-indent"><i>f. Hệ thống âm thanh thông báo</i></p>
								<p class="p-class p-class-indent"><i>g. Hệ thống chống sét và nối đất</i></p>
								<p class="p-class p-class-indent"><i>h. Hệ thống viễn thông có dây và không dây</i></p>
								4. Hệ thống phòng cháy chữa cháy:<br>
								<p class="p-class p-class-indent"><i>a. Hệ thống chữa cháy</i></p>
								<p class="p-class p-class-indent"><i>b. Hệ thống báo cháy</i></p>
								5. Bảng hiệu quảng cáo</span></p>
								<a id="readmore" href="javascript:void(0);" onclick="readMore()">Xem thêm</a>
							</div>
						</div>
					</div>
					<!--
					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-network-wired"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Công nghệ thông tin</h4>
								<p>Về lĩnh vực công nghệ thông tin của chúng tôi bao gồm mạng máy tính, hệ thống điện thoại, hệ thống an ninh (camera), ...</p>
								<a href="#">Đọc thêm</a>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-fire-extinguisher"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Phòng cháy chữa cháy</h4>
								<p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair.</p>
								<a href="#">Đọc thêm</a>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-hand-holding-water"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Cấp thoát nước</h4>
								<p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair.</p>
								<a href="#">Đọc thêm</a>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="rs-icon-info-3 mb-5">
							<div class="info-icon">
								<i class="fas fa-podcast"></i>
							</div>
							<div class="info-text">
								<h4 class="text-black mb-2">Hệ thống âm thanh thông báo</h4>
								<p>With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair.</p>
								<a href="#">Đọc thêm</a>
							</div>
						</div>
					</div>
					-->
				</div>

				
			</div>

				
			</div>
		</div>
	</div>	

	<!-- STATS -->
	<div class="section bgi-cover-center bg-overlay-light" data-background="images/dummy-img-1200x800.jpg">
		<div class="content-wrap pb-0">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-7">
						<h3 class="text-black">
							Chất lượng xây dựng. Dịch vụ trung thực. Giá trị lớn
						</h3>
						<p>Đội ngũ chuyên nghiệp của chúng tôi làm việc để tăng năng suất và hiệu quả chi phí trên thị trường</p>
						<div class="row no-gutters">
							<div class="col-sm-12 col-md-4 border-box">
								<div class="box-stat-2">
									<h2 class="counter">89</h2>
									<p>Văn phòng trên toàn thế giới</p>
								</div>
							</div>
							<div class="col-sm-12 col-md-4 border-box">
								<div class="box-stat-2">
									<h2 class="counter">89</h2>
									<p>Văn phòng trên toàn thế giới</p>
								</div>
							</div>
							<div class="col-sm-12 col-md-4 border-box">
								<div class="box-stat-2">
									<h2 class="counter">89</h2>
									<p>Văn phòng trên toàn thế giới</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-5">
						<img src="images/dummy-img-750x900.jpg" alt="" class="img-fluid img-overlap">
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- TEAM -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h4 class="section-heading text-center text-black no-after mb-5">
							<span class="text-primary">Đội ngủ</span> của chúng tôi
						</h4>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Robert Albert</div>
								<div class="position">CEO /Founder</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Rudhi Sasmito</div>
								<div class="position">CTO</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Ardi Doe</div>
								<div class="position">Techical</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Jason Doe</div>
								<div class="position">Mandor Bangunan</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Cak Lento</div>
								<div class="position">Kuli Batu</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-4">

						<div class="rs-team-1 mb-5">
							<div class="media">
								<img src="images/dummy-img-600x600.jpg" alt="" class="img-fluid">
							</div>
							<div class="body">
								<div class="title">Anastasia Doe</div>
								<div class="position">Kuli Batu</div>
								<p>The Best in dolor sit amet consectetur adipisicing elit sed simply dummy text of the printing and typesetting</p>
							</div>
						</div>

					</div>

				</div>

				
			</div>
		</div>
	</div>


	<!-- PARTNERS -->
	<div class="section">
		<div class="content-wrap py-5">
			<div class="container">

				<div class="row">

					<div class="col-sm-12 col-md-12">
						<div id="carousel_partners" class="owl-carousel owl-theme">
							<img src="images/dummy-logo-1b.png" alt="">
							<img src="images/dummy-logo-2b.png" alt="">
							<img src="images/dummy-logo-3b.png" alt="">
							<img src="images/dummy-logo-4b.png" alt="">
							<img src="images/dummy-logo-5b.png" alt="">
							<img src="images/dummy-logo-6b.png" alt="">
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- CTA -->
	<div class="section bg-primary">
		<div class="content-wrap py-5">
			<div class="container">

				<div class="row align-items-center cta-block-1">
					<div class="col-sm-8 col-md-8">
						<h4 class="my-1 text-black">Đừng ngần ngại liên hệ với chúng tôi bất cứ lúc nào</h4>
					</div>

					<div class="col-sm-4 col-md-4">
						<div class="tbutton"><a href="#" class="btn btn-secondary">Nhận báo giá</a></div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- FOOTER SECTION -->
	<div class="footer">
		<div class="content-wrap">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="footer-item">
							<img src="images/logo.png" alt="logo bottom" class="logo-bottom">
							<div class="spacer-30"></div>
							<p>CDEN tư vấn, thiết kế và dịch vụ kỹ thuật.</p>

							<ul class="list-info my-4">
								<li>
									<div class="info-icon uk21">
										<span class="fas fa-phone-alt"></span>
									</div>
									<div class="info-text uk21">+84 935 624 533</div> </li>
								<li>
								<li>
									<div class="info-icon uk21">
										<span class="fa fa-home"></span>
									</div>
									<div class="info-text uk21">33 Lê Đình Dương, Vĩnh Điện, Điện Bàn, Quảng Nam</div> </li>
								<li>
								<li>
									<div class="info-icon uk21">
										<span class="fas fa-envelope"></span>
									</div>
									<div class="info-text uk21">vannguyentve@gmail.com</div> </li>
								<li>
							
							</ul>

							<div class="sosmed-icon d-inline-flex">
								<a href="https://www.facebook.com/thietkeME"><i class="fab fa-facebook"></i></a> 
								<a href="#"><i class="fab fa-twitter"></i></a> 
								<a href="#"><i class="fab fa-google-plus-square"></i></a> 
							</div>
						</div>
					</div>	


					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="footer-item">
							<div class="footer-title">
								Chúng tôi
							</div>
							
							<p>Cảm ơn bạn đã quan tâm đến CDEN. Để biết thêm thông tin chi tiết về dịch vụ của chúng tôi, vui lòng truy cập trang thông tin tương ứng. Để nhận được thông tin mới nhất từ CDEN, vui lòng đăng ký theo dõi bản tin hoặc kết nối với chúng tôi trên mạng xã hội.</p>

						</div>
					</div>				

					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="footer-item">
							<div class="footer-title">
								Bản đồ
							</div>
							<div class="row">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4563.398235190049!2d108.25201839532666!3d15.890975196876987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420f9a933374b1%3A0x69e96d7e8b51b97a!2zMzMgTMOqIMSQw6xuaCBExrDGoW5nLCBUVC4gVsSpbmggxJBp4buHbiwgxJBp4buHbiBCw6BuLCBRdeG6o25nIE5hbSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1635786077000!5m2!1svi!2s" width="450" height="268" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
							</div>
															
						</div>
					</div>

				</div>
				
			</div>
		</div>
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="mt-3 text-center">Copyright 2020</p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- JS VENDOR -->
	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/owl.carousel.js"></script>
	<script src="js/vendor/jquery.magnific-popup.min.js"></script>

	<!-- SENDMAIL -->
	<script src="js/vendor/validator.min.js"></script>
	<script src="js/vendor/form-scripts.js"></script>

	<script src="js/script.js"></script>
	<script src="js/action.js"></script>

</body>
</html>